---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialMediaPill from "../components/SocialMediaPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Form from "../components/Form.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import BriefIcon from "../icons/BriefIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import MessageIcon from "../icons/MessageIcon.astro";
---

<Layout
  title="Portfolio de Flavia"
  description="Desarrollo y Programación Web y App Mobile | Contáctame para crear páginas web y aplicaciones/apps para celulares únicas"
>
  <main class="px-10">
    <SectionContainer id="about">
      <h1
        class="text-white text-3xl md:text-5xl font-bold flex flex-row gap-x-4 py-44 pb-3 lg:pb-5"
      >
        ¡Hola! Soy Flavia
      </h1>
      <h2
        class="text-yellow-200 text-xl md:text-2xl my-3 text-wrap tracking-wide"
      >
        <strong> Desarrolladora Web y Mobile</strong>
      </h2>
      <h2 class="text-lg md:text-xl text-balance">
        Desde Mar del Plata, Argentina, creo soluciones digitales con pasión y
        dedicación. A medida que avanzo en este camino, busco transformar ideas
        en experiencias digitales que conecten y aporten valor. Este espacio
        está hecho para que descubras mis proyectos y conozcas cómo puedo
        ayudarte a hacer realidad los tuyos.
      </h2>
      <h2 class="text-lg md:text-xl mt-2 text-wrap">
        ¡Explora mi trabajo y no dudes en ponerte en contacto!
      </h2>

      <nav class="flex gap-4 mt-6 flex-wrap pb-60">
        <SocialMediaPill
          href="https://www.linkedin.com/in/flavia-s-briglia/"
          aria_label="Enlace a LinkedIn"
          class="hover:bg-green-400/10"
        >
          <LinkedInIcon class="size-4 md:size-6" />LinkedIn</SocialMediaPill
        >

        <SocialMediaPill
          href="https://github.com/Flarien"
          aria_label="Enlace a GitHub"
        >
          <GithubIcon class="size-4 md:size-6" />GitHub</SocialMediaPill
        >

        <SocialMediaPill
          href="mailto:flariendev@gmail.com"
          aria_label="Enlace al e-mail"
        >
          <MailIcon class="size-4 md:size-6" />e-mail</SocialMediaPill
        >
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2
        class="text-xl sm:text-3xl font-semibold mt-8 mb-4 flex gap-x-2 items-center"
      >
        <BriefIcon style="stroke: #3b82f6;" />
        Mis trabajos:
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="text-xl sm:text-3xl font-semibold mt-8 mb-4 flex gap-x-2 items-center"
      >
        <CodeIcon />
        Mis proyectos:
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer>
      <h2
        class="hidden text-xl sm:text-3xl font-semibold mt-8 mb-1 md:flex gap-x-2 items-center"
      >
        <MessageIcon />
        Ponte en contacto conmigo:
      </h2>
      <h2
        class="md:hidden text-xl sm:text-3xl font-semibold mt-8 mb-1 flex gap-x-2 items-center"
      >
        <MessageIcon />
        Envíame un mensaje:
      </h2>
      <Form />
    </SectionContainer>
  </main>
</Layout>
