<footer
  class="fixed p-4 md:px-40 lg:px-60 w-full mx-auto bottom-0 left-0 z-20p-4 bg-gray-800/95 border-t border-gray-200 shadow md:flex md:items-center md:justify-between dark:bg-gray-800/95 dark:border-gray-600/50"
>
  <span class="text-sm text-gray-500/50 sm:text-center dark:text-gray-400/50"
    >© 2024 <a
      href="https://portfolio-flavia-briglia.vercel.app"
      class="hover:underline">Flarien</a
    >. All Rights Reserved...?
  </span>
  <ul
    class="flex flex-wrap flex-col items-start sm:flex-row sm:items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <li>
      <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
    </li>
    <li>
      <a href="#about" class="hover:underline me-4 md:me-6">Sobre mí</a>
    </li>
    <li>
      <a href="#experience" class="hover:underline me-4 md:me-6">Experiencia</a>
    </li>
    <li>
      <a href="#projects" class="hover:underline me-4 md:me-6">Proyectos</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contacto</a>
    </li>
  </ul>
</footer>
