---
const { href, class: additionalClasses, aria_label = "" } = Astro.props;
---

<a
  href={href}
  class={`opacity-80 hover:opacity-100 transition mb-4 p-2  text-white ${additionalClasses}`}
  aria-label={aria_label}
>
  <slot />
</a>
