<a 
  class="flex justify-center items-center gap-x-2 py-2 px-3 md:py-2 md:px-5 text-sm md:text-base
  bg-white/5 border border-white/10 rounded-full hover:bg-purple-400/10 hover:scale-105 transition opacity-85"
  {...Astro.props}
  target="_blank"
  rel="noonpener noreferrer"
>
  <slot />
</a>
