---
import "@fontsource/poppins";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="relative text-white dark:text-white bg-[#493851] dark:bg-[#493851]"
  >
   <div id="beams-container"></div>
    <div class="relative z-10">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  #beams-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    mix-blend-mode: soft-light;
    z-index: 0;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>

<script src="../scripts/bgBeams.js" />